@import "tailwindcss";

@keyframes aurora {
  0% {
    background-position: 50% 50%, 50% 50%;
  }
  100% {
    background-position: 350% 50%, 350% 50%;
  }
}

.animate-aurora {
  animation: aurora 1000s linear infinite;
}